<?xml version="1.0"?>
<config>
    <modules>
        <MMD_GoogleLogin>
            <version>1.0.0</version>
        </MMD_GoogleLogin>
    </modules>
    <global>
        <helpers>
            <mmd_googlelogin>
                <class>MMD_GoogleLogin_Helper</class>
            </mmd_googlelogin>
        </helpers>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <MMD_GoogleLogin before="Mage_Adminhtml">MMD_GoogleLogin_Adminhtml</MMD_GoogleLogin>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
