<?xml version="1.0"?>
<config>
    <modules>
        <MMD_Branchscope>
            <version>1.0.0</version>
        </MMD_Branchscope>
    </modules>
    <global>
        <helpers>
            <branchscope>
                <class>MMD_Branchscope_Helper</class>
            </branchscope>
        </helpers>
        <models>
            <branchscope>
                <class>MMD_Branchscope_Model</class>
            </branchscope>
        </models>
        <blocks>
            <branchscope>
                <class>MMD_Branchscope_Block</class>
            </branchscope>
            <adminhtml>
                <rewrite>
                    <store_switcher>MMD_Branchscope_Block_Store_Switcher</store_switcher>
                </rewrite>
            </adminhtml>
        </blocks>
        <events>
            <admin_user_authenticate_after>
                <observers>
                    <mmd_branchscope_login_seed>
                        <type>singleton</type>
                        <class>branchscope/observer</class>
                        <method>onAdminLogin</method>
                    </mmd_branchscope_login_seed>
                </observers>
            </admin_user_authenticate_after>
        </events>
    </global>
    <adminhtml>
        <events>
            <controller_action_predispatch>
                <observers>
                    <mmd_branchscope_persist>
                        <type>singleton</type>
                        <class>branchscope/observer</class>
                        <method>onPredispatch</method>
                    </mmd_branchscope_persist>
                </observers>
            </controller_action_predispatch>
        </events>
        <layout>
            <updates>
                <branchscope>
                    <file>branchscope.xml</file>
                </branchscope>
            </updates>
        </layout>
    </adminhtml>
</config>
